{% extends "base.html "%}
{% block content %}
<div class="snippet-detail">
    <h1>{{ snippet.title }}</h1>
    <div>
        <p>{{ snippet.body }}</p>
        <p>Submitted by: {{ snippet.submitter }}</p>
        <p>Date submitted: {{ snippet.submitted_date }}</p>
        <p>Total votes: {{ snippet.nr_votes }}</p>
    </div>
    <div class="tags">
        <h4>Tags:</h4>
        <ul>  
        {% for tag in snippet.tags.all %}
            <li>
                <p>{{tag}}</p>
            </li>
        {% endfor%}
        </ul>
    </div>
    </p>
</div>
{% endblock %}